html { 
    scroll-behavior: smooth; 
 }
body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

section {
    padding: 60px 0;
    scroll-margin-top: 60px;
    
}

.bg-light {
    background-color: #f8f9fa !important;
}

#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #007bff; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
}

#backToTopBtn:hover {
    background-color: #555; 
}

footer {
    background-color: #343a40; 
    color: white;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer p { 
    margin-bottom: 5px;  
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

footer a:hover {
    text-decoration: underline;
}

.social-logo {
    width: 22px;  
    height: 22px; 
    vertical-align: middle; 
    margin: 0 3px;
}
